- provide(:title, "Home")
!!!
%html
 %title
= yield(:title) | Ruby on Rails tutorial Sample App

%body
%h1 SAmple App
%p This is the Home page for the
 %a{:href => "http://www.railstutorial.org/"} Ruby on Rails tutorial sample application \.
